@charset "utf-8";

@import url('oocss.css');

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'MyriadProRegular';
	color:#4C4C4C;
	font-size:12px;
	overflow-x:hidden;
}

a{text-decoration:none; color:inherit !important; display:inline-block !important; outline:none !important; padding:0;}
img{outline:none !important; border:none; display:block;}

.siteMaxWidth{ max-width:1000px; }
.siteDarkBlueBg{background-color:#1B9998 !important;}
.siteLightBlueBg{background-color:#DDF0F0 !important;}
.siteVeryLightBlueBg{background-color:#EFF8F8 !important;}
.siteDarkBlueTextColor{color:#1B9998 !important;}
.siteLightBlueTextColor{color:#DDF0F0 !important;}
.siteVeryLightBlueTextColor{color:#EFF8F8 !important;}
.siteSubMenuRightBorder{border-right:solid 1px #BEB9B7;}

.sublinksHolder > ul > li{
	cursor:pointer;
}
.sublinksHolder > ul > li.noTop{border-top:none !important;}
.sublinksHolder > ul > li.active, .sublinksHolder > ul > li:hover{
	border-top:solid 1px #BEB9B7;
	border-bottom:solid 1px #BEB9B7;
	margin-top:-1px;
	margin-bottom:-1px;
	background-image:url(../images/footer-link-icon.png);
	background-position:96% center;
	background-repeat:no-repeat;
}

.footer-top-line{
	width:100%;
	min-height:1px;
	margin-bottom:0px;
	display:inline-block;
	background-color:#1B9998;
}
.footer-inner{
	background-color:#E4E4E4;
}
.footer-link{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.footer-link:hover{color:#eb613e !important;}
.footer-link.active{color:#eb613e !important;}
.footer-ebulten-box{
	background-color:#F2F2F2;
}
.social{
	width:26px; 
	height:26px;
	display:inline-block;
	margin-left:4px;
	background-repeat:no-repeat;
	background-image:url(../images/social-icons.png);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.social-facebook{background-position:0 -26px;}
.social-facebook:hover{background-position:0 0;}
.social-instagram{background-position:-27px -26px;}
.social-instagram:hover{background-position:-27px 0;}
.social-twitter{background-position:-54px -26px;}
.social-twitter:hover{background-position:-54px 0;}
.social-in{background-position:-81px -26px;}
.social-in:hover{background-position:-81px 0;}
.social-youtube{background-position:-108px -26px;}
.social-youtube:hover{background-position:-108px 0;}
.social-pinterest{background-position:-135px -26px;}
.social-pinterest:hover{background-position:-135px 0;}
.social-googlePlus{background-position:-162px -26px;}
.social-googlePlus:hover{background-position:-162px 0;}

#searchBar{background-color:#fff; border:solid 1px #1B9998}

#mainlinkArea{
	padding:2px 0;
	color:#1B9998;
}
#mainlinkArea > ul > li > a{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#mainlinkArea > ul > li > a:hover{
	color:#eb613e !important;
}
#mainlinkArea > ul > li > a.active{
	color:#eb613e !important;
}

#bayiGirisBtn{
	background-color:#1DA4A3;
}
#musteriGirisBtn{
	background-color:#1B9998;
}

.S-backgroundLight,.S-backgroundWhite{}
@media screen and (min-width : 0px) and (max-width : 675px){
.S-backgroundLight{background-color:#E4E4E4; margin-top:-1px; border-bottom:solid 1px #4C4C4C; text-align:right}
.S-backgroundWhite{background-color:#fff; margin-top:-10px; text-align:right; padding-right:10px; padding-bottom:5px;}	
}


#bannerArea{background-color:#fff; width:100%; margin:0;}
/*BANNER AREA SETUP*/
#slides {display: none}
.banner {max-width:1000px; width:auto; margin: 0 auto}		
/*.slidesjs-pagination{display:none}*/
/*BANNER AREA SETUP*/

.radius5{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

	.slidesjs-pagination {
	  position:absolute;
	  z-index:9999;
	  right:0;
	  bottom:-2px;
	  left:25%;
    }
	
	.slidesjs-pagination li {
	  float:left;
	  width:25%;
	  text-align:center;
    }
	
	.slidesjs-pagination li a {
		display: block;
		width:90%;
		padding:5px;
		padding-top:12px;
		padding-bottom:12px;
		background-color:#1B9998;
		color:#fff !important;      
		/*border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;*/
		overflow:hidden;
		white-space:nowrap;
    }
	
	.slidesjs-pagination li:first-child a{
		background-image:url(../images/fbback.png);
		background-repeat:no-repeat;
		background-position:-15px top;
		border-radius:27px 0px 0px 0px;
		-webkit-border-radius:27px 0px 0px 0px;
		-moz-border-radius:27px 0px 0px 0px;
	}
	
@media screen and (min-width : 0px) and (max-width : 675px){
	#bannerArea{padding-bottom:40px;}
	.slidesjs-pagination { left:0;}
	.slidesjs-pagination li:first-child a{
		background-image:none;
		border-radius:0px 0px 0px 0px;
		-webkit-border-radius:0px 0px 0px 0px;
		-moz-border-radius:0px 0px 0px 0px;
	}
	.slidesjs-pagination li a{font-size:10px}
}

 /*   
    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }*/

