@charset "utf-8";
/* CSS Document */

@import url('../font/MYRIAD.css');

/*DISPLAY SETUP*/
.hide{display:none;}
.block{display:block !important;}
.inlineBlock{display:inline-block !important;}
.clearFix{clear:both;}
/*DISPLAY SETUP*/


/*CONTAINER SETUP*/
.container{width:100%;}
/*CONTAINER SETUP*/


/*CURSOR SETUP*/
.hand{cursor:pointer;}
/*CURSOR SETUP*/


/*ICON SETUP*/
/*??????????*/
/*ICON SETUP*/


/*FLOAT POSITION SETUP*/
.pushLeft{float:left !important;}
.pushRight{float:right !important;}
/*FLOAT POSITION SETUP*/


/*ROW SETUP*/
.row{clear:both;}
/*ROW SETUP*/


/*COLUMN SETUP*/
.col{float:left;}
.col1{width: 8.3333333333333333333333333333333% !important;}
.col2{width: 16.666666666666666666666666666667% !important;}
.col3{width: 25% !important;}
.col4{width: 33.333333333333333333333333333333% !important;}
.col5{width: 41.666666666666666666666666666667% !important;}
.col6{width: 50% !important;}
.col7{width: 58.333333333333333333333333333333% !important;}
.col8{width: 66.666666666666666666666666666666% !important;}
.col9{width: 75% !important;}
.col10{width: 83.333333333333333333333333333333% !important;}
.col11{width: 91.666666666666666666666666666666% !important;}
.col12{width: 100% !important;}
/*COLUMN SETUP*/


/*HEIGHT SETUP*/
.height100{height:100% !important;}
/*HEIGHT SETUP*/


/*SCROLL SETUP*/
.overflowHidden{overflow:hidden;}
.overflowAuto{overflow:auto;}
.overflowScroll{overflow:scroll;}
.overflowVisible{overflow:visible;}
.overflowYScroll{overflow-y: scroll;}
.overflowXScroll{overflow-x: scroll;}
/*SCROLL SETUP*/


/*MARGIN SETUP*/
.marginAuto{margin:0 auto;}
.margin5{margin:5px !important;}
.margin10{margin:10px !important;}
.margin15{margin:15px !important;}
.margin20{margin:20px !important;}
.marginTop5{margin-top:5px !important;}
.marginTop10{margin-top:10px !important;}
.marginTop15{margin-top:15px !important;}
.marginTop20{margin-top:20px !important;}
.marginBottom5{margin-bottom:5px !important;}
.marginBottom10{margin-bottom:10px !important;}
.marginBottom15{margin-bottom:15px !important;}
.marginBottom20{margin-bottom:20px !important;}
.marginLeft5{margin-left:5px !important;}
.marginLeft10{margin-left:10px !important;}
.marginLeft15{margin-left:15px !important;}
.marginLeft20{margin-left:20px !important;}
.marginRight5{margin-right:5px !important;}
.marginRight10{margin-right:10px !important;}
.marginRight15{margin-right:15px !important;}
.marginRight20{margin-right:20px !important;}

.marginMinus10{margin:-10px}
.marginMinus15{margin:-15px}
/*MARGIN SETUP*/


/*PADDING SETUP*/
.padding5{padding:5px !important;}
.padding10{padding:10px !important;}
.padding15{padding:15px !important;}
.padding20{padding:20px !important;}
.paddingTop5{padding-top:5px !important;}
.paddingTop10{padding-top:10px !important;}
.paddingTop15{padding-top:15px !important;}
.paddingTop20{padding-top:20px !important;}
.paddingBottom0{padding-bottom:0 !important;}
.paddingBottom5{padding-bottom:5px !important;}
.paddingBottom10{padding-bottom:10px !important;}
.paddingBottom15{padding-bottom:15px !important;}
.paddingBottom20{padding-bottom:20px !important;}
.paddingLeft5{padding-left:5px !important;}
.paddingLeft10{padding-left:10px !important;}
.paddingLeft15{padding-left:15px !important;}
.paddingLeft20{padding-left:20px !important;}
.paddingRight5{padding-right:5px !important;}
.paddingRight10{padding-right:10px !important;}
.paddingRight15{padding-right:15px !important;}
.paddingRight20{padding-right:20px !important;}
/*PADDING SETUP*/


/*POSITION SETUP*/
.relative{position:relative;}
.absolute{position:absolute;}
.left{left:0;}
.right{right:0;}
.top{top:0;}
.bottom{bottom:0;}
/*POSITION SETUP*/


/*FORM ELEMENTS SETUP*/
input, textarea, checkbox, radio{
	background-color:transparent;
	border:none;
	padding:0;
	margin:0;
	resize:none;
	font-family: 'MyriadProRegular';
	font-size:inherit;
}
/*FORM ELEMENTS SETUP*/


/*FONT SETUP*/
.textCenter{text-align:center;}
.textLeft{text-align:left;}
.textRight{text-align:right;}

.fLight{font-family: 'MyriadProLight';}
.fRegular{font-family: 'MyriadProRegular';}
.fSemiBold{font-family: 'MyriadProSemibold';}
.fBold{font-family: 'MyriadProBold';}
.fBoldItalic{font-family: 'MyriadProBoldItalic';}
.fSemiBoldItalic{font-family: 'MyriadProSemiboldItalic';}
.fCondensed{font-family: 'MyriadProCond';}
.fCondensedItalic{font-family: 'MyriadProCondensedItalic';}
.fCondensedBold{font-family: 'MyriadProBoldCondensed';}
.fCondensedBoldItalic{font-family: 'MyriadProBoldCondensedItalic';}

.fSize-11{font-size:11px;}
.fSize-12{font-size:12px;}
.fSize-13{font-size:13px;}
.fSize-14{font-size:14px;}
.fSize-15{font-size:15px;}
.fSize-16{font-size:16px;}
.fSize-17{font-size:17px;}
.fSize-18{font-size:18px;}
.fSize-19{font-size:19px;}
.fSize-20{font-size:20px;}
.fSize-21{font-size:21px;}
.fSize-22{font-size:22px;}
.fSize-23{font-size:23px;}
.fSize-24{font-size:24px;}
.fSize-25{font-size:25px;}
.fSize-26{font-size:26px;}
.fSize-27{font-size:27px;}
.fSize-28{font-size:28px;}
.fSize-29{font-size:29px;}
.fSize-30{font-size:30px;}
.fSize-31{font-size:31px;}
.fSize-32{font-size:32px;}
.fSize-33{font-size:33px;}
.fSize-34{font-size:34px;}
.fSize-35{font-size:35px;}
.fSize-36{font-size:36px;}
.fSize-37{font-size:37px;}
.fSize-38{font-size:38px;}
.fSize-39{font-size:39px;}
.fSize-40{font-size:40px;}
.fsmall{font-size:0.5em;}
.fnormal{font-size:1em;}
.flarge{font-size:1.5em;}
.fextraLarge{font-size:2em;}
/*FONT SETUP*/


/*LIST ELEMENTS SETUP*/
ul{margin:0; padding:0; list-style:none;}
ul > li{margin:0; padding:0; list-style:none;}
/*LIST ELEMENTS SETUP*/


/*Old Monitoring*/
.M-col1,.M-col2,.M-col3,.M-col4,.M-col5,.M-col6,.M-col7,.M-col8,.M-col9,.M-col10,.M-col11,.M-col12,M-clearFix,.M-textCenter,.M-marginAuto,.M-fSize-11,.M-fSize-12,.M-fSize-13,.M-fSize-14,.M-fSize-15,.M-fSize-16,.M-fSize-17,.M-fSize-18,.M-fSize-19,.M-fSize-20,.M-fSize-21,.M-fSize-22,.M-fSize-23,.M-fSize-24,.M-fSize-25,.M-fSize-26,.M-fSize-27,.M-fSize-28,.M-fSize-29,.M-fSize-30,.M-fSize-31,.M-fSize-32,.M-fSize-33,.M-fSize-34,.M-fSize-35,.M-fSize-36,.M-fSize-37,.M-fSize-38,.M-fSize-39,.M-fSize-40,.M-fsmall,.M-fnormal,.M-flarge,.M-fextraLarge{}
@media screen and (min-width : 675px) and (max-width : 1130px){
	.M-marginAuto{margin:0 auto;}
	.M-textCenter{text-align:center;}
	.M-clearFix{clear:both;}
	.M-col{float:left;}
	.M-col1{width: 8.3333333333333333333333333333333% !important;}
	.M-col2{width: 16.666666666666666666666666666667% !important;}
	.M-col3{width: 25% !important;}
	.M-col4{width: 33.333333333333333333333333333333% !important;}
	.M-col5{width: 41.666666666666666666666666666667% !important;}
	.M-col6{width: 50% !important;}
	.M-col7{width: 58.333333333333333333333333333333% !important;}
	.M-col8{width: 66.666666666666666666666666666666% !important;}
	.M-col9{width: 75% !important;}
	.M-col10{width: 83.333333333333333333333333333333% !important;}
	.M-col11{width: 91.666666666666666666666666666666% !important;}
	.M-col12{width: 100% !important;}
	
	/*FONT FOR MEDIUM*/
	.M-fSize-11{font-size:11px;}
	.M-fSize-12{font-size:12px;}
	.M-fSize-13{font-size:13px;}
	.M-fSize-14{font-size:14px;}
	.M-fSize-15{font-size:15px;}
	.M-fSize-16{font-size:16px;}
	.M-fSize-17{font-size:17px;}
	.M-fSize-18{font-size:18px;}
	.M-fSize-19{font-size:19px;}
	.M-fSize-20{font-size:20px;}
	.M-fSize-21{font-size:21px;}
	.M-fSize-22{font-size:22px;}
	.M-fSize-23{font-size:23px;}
	.M-fSize-24{font-size:24px;}
	.M-fSize-25{font-size:25px;}
	.M-fSize-26{font-size:26px;}
	.M-fSize-27{font-size:27px;}
	.M-fSize-28{font-size:28px;}
	.M-fSize-29{font-size:29px;}
	.M-fSize-30{font-size:30px;}
	.M-fSize-31{font-size:31px;}
	.M-fSize-32{font-size:32px;}
	.M-fSize-33{font-size:33px;}
	.M-fSize-34{font-size:34px;}
	.M-fSize-35{font-size:35px;}
	.M-fSize-36{font-size:36px;}
	.M-fSize-37{font-size:37px;}
	.M-fSize-38{font-size:38px;}
	.M-fSize-39{font-size:39px;}
	.M-fSize-40{font-size:40px;}
	.M-fsmall{font-size:0.M-5em;}
	.M-fnormal{font-size:1em;}
	.M-flarge{font-size:1.M-5em;}
	.M-fextraLarge{font-size:2em;}
}


/*Mobile & Tablet*/
.S-col1,.S-col2,.S-col3,.S-col4,.S-col5,.S-col6,.S-col7,.S-col8,.S-col9,.S-col10,.S-col11,.S-col12,.S-clearFix,.S-Line,.S-textCenter,.S-marginAuto,.S-fSize-11,.S-fSize-12,.S-fSize-13,.S-fSize-14,.S-fSize-15,.S-fSize-16,.S-fSize-17,.S-fSize-18,.S-fSize-19,.S-fSize-20,.S-fSize-21,.S-fSize-22,.S-fSize-23,.S-fSize-24,.S-fSize-25,.S-fSize-26,.S-fSize-27,.S-fSize-28,.S-fSize-29,.S-fSize-30,.S-fSize-31,.S-fSize-32,.S-fSize-33,.S-fSize-34,.S-fSize-35,.S-fSize-36,.S-fSize-37,.S-fSize-38,.S-fSize-39,.S-fSize-40,.S-fsmall,.S-fnormal,.S-flarge,.S-fextraLarge,.S-padding5,.S-padding10,.S-padding15,.S-padding20,.S-paddingTop5,.S-paddingTop10,.S-paddingTop15,.S-paddingTop20,.S-paddingBottom5,.S-paddingBottom10,.S-paddingBottom15,.S-paddingBottom20,.S-paddingLeft5,.S-paddingLeft10,.S-paddingLeft15,.S-paddingLeft20,.S-paddingRight5,.S-paddingRight10,.S-paddingRight15,.S-paddingRight20{}
@media screen and (min-width : 0) and (max-width : 675px){
	.S-marginAuto{margin:0 auto;}
	.S-textCenter{text-align:center;}
	.S-clearFix{clear:both;}
	.S-Line{width:100%; min-height:1px;}
	.S-col{float:left;}
	.S-col1{width: 8.3333333333333333333333333333333% !important;}
	.S-col2{width: 16.666666666666666666666666666667% !important;}
	.S-col3{width: 25% !important;}
	.S-col4{width: 33.333333333333333333333333333333% !important;}
	.S-col5{width: 41.666666666666666666666666666667% !important;}
	.S-col6{width: 50% !important;}
	.S-col7{width: 58.333333333333333333333333333333% !important;}
	.S-col8{width: 66.666666666666666666666666666666% !important;}
	.S-col9{width: 75% !important;}
	.S-col10{width: 83.333333333333333333333333333333% !important;}
	.S-col11{width: 91.666666666666666666666666666666% !important;}
	.S-col12{width: 100% !important;}
	
	/*FONT FOR SMALL*/
	.S-fSize-11{font-size:11px;}
	.S-fSize-12{font-size:12px;}
	.S-fSize-13{font-size:13px;}
	.S-fSize-14{font-size:14px;}
	.S-fSize-15{font-size:15px;}
	.S-fSize-16{font-size:16px;}
	.S-fSize-17{font-size:17px;}
	.S-fSize-18{font-size:18px;}
	.S-fSize-19{font-size:19px;}
	.S-fSize-20{font-size:20px;}
	.S-fSize-21{font-size:21px;}
	.S-fSize-22{font-size:22px;}
	.S-fSize-23{font-size:23px;}
	.S-fSize-24{font-size:24px;}
	.S-fSize-25{font-size:25px;}
	.S-fSize-26{font-size:26px;}
	.S-fSize-27{font-size:27px;}
	.S-fSize-28{font-size:28px;}
	.S-fSize-29{font-size:29px;}
	.S-fSize-30{font-size:30px;}
	.S-fSize-31{font-size:31px;}
	.S-fSize-32{font-size:32px;}
	.S-fSize-33{font-size:33px;}
	.S-fSize-34{font-size:34px;}
	.S-fSize-35{font-size:35px;}
	.S-fSize-36{font-size:36px;}
	.S-fSize-37{font-size:37px;}
	.S-fSize-38{font-size:38px;}
	.S-fSize-39{font-size:39px;}
	.S-fSize-40{font-size:40px;}
	.S-fsmall{font-size:0.S-5em;}
	.S-fnormal{font-size:1em;}
	.S-flarge{font-size:1.S-5em;}
	.S-fextraLarge{font-size:2em;}
	
	/*SMALL PADDING SETUP*/
	.S-padding5{padding:5px !important;}
	.S-padding10{padding:10px !important;}
	.S-padding15{padding:15px !important;}
	.S-padding20{padding:20px !important;}
	.S-paddingTop5{padding-top:5px !important;}
	.S-paddingTop10{padding-top:10px !important;}
	.S-paddingTop15{padding-top:15px !important;}
	.S-paddingTop20{padding-top:20px !important;}
	.S-paddingBottom5{padding-bottom:5px !important;}
	.S-paddingBottom10{padding-bottom:10px !important;}
	.S-paddingBottom15{padding-bottom:15px !important;}
	.S-paddingBottom20{padding-bottom:20px !important;}
	.S-paddingLeft5{padding-left:5px !important;}
	.S-paddingLeft10{padding-left:10px !important;}
	.S-paddingLeft15{padding-left:15px !important;}
	.S-paddingLeft20{padding-left:20px !important;}
	.S-paddingRight5{padding-right:5px !important;}
	.S-paddingRight10{padding-right:10px !important;}
	.S-paddingRight15{padding-right:15px !important;}
	.S-paddingRight20{padding-right:20px !important;}
}

