@font-face {
    font-family: 'MyriadProBold';
    src: url('myriadpro-bold.eot');
    src: url('myriadpro-bold.eot') format('embedded-opentype'),
         url('myriadpro-bold.woff2') format('woff2'),
         url('myriadpro-bold.woff') format('woff'),
         url('myriadpro-bold.ttf') format('truetype'),
         url('myriadpro-bold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('myriadpro-boldcond.eot');
    src: url('myriadpro-boldcond.eot') format('embedded-opentype'),
         url('myriadpro-boldcond.woff2') format('woff2'),
         url('myriadpro-boldcond.woff') format('woff'),
         url('myriadpro-boldcond.ttf') format('truetype'),
         url('myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProBoldCondensedItalic';
    src: url('myriadpro-boldcondit.eot');
    src: url('myriadpro-boldcondit.eot') format('embedded-opentype'),
         url('myriadpro-boldcondit.woff2') format('woff2'),
         url('myriadpro-boldcondit.woff') format('woff'),
         url('myriadpro-boldcondit.ttf') format('truetype'),
         url('myriadpro-boldcondit.svg#MyriadProBoldCondensedItalic') format('svg');
}
@font-face {
    font-family: 'MyriadProBoldItalic';
    src: url('myriadpro-boldit.eot');
    src: url('myriadpro-boldit.eot') format('embedded-opentype'),
         url('myriadpro-boldit.woff2') format('woff2'),
         url('myriadpro-boldit.woff') format('woff'),
         url('myriadpro-boldit.ttf') format('truetype'),
         url('myriadpro-boldit.svg#MyriadProBoldItalic') format('svg');
}
@font-face {
	font-family: 'MyriadProCond';
    src: url('MyriadPro-Cond.eot');
    src: url('MyriadPro-Cond.eot') format('embedded-opentype'),
         url('MyriadPro-Cond.woff2') format('woff2'),
         url('MyriadPro-Cond.woff') format('woff'),
         url('MyriadPro-Cond.ttf') format('truetype'),
         url('MyriadPro-Cond.svg#MyriadProCond') format('svg');
}
@font-face {
    font-family: 'MyriadProCondensedItalic';
    src: url('myriadpro-condit.eot');
    src: url('myriadpro-condit.eot') format('embedded-opentype'),
         url('myriadpro-condit.woff2') format('woff2'),
         url('myriadpro-condit.woff') format('woff'),
         url('myriadpro-condit.ttf') format('truetype'),
         url('myriadpro-condit.svg#MyriadProCondensedItalic') format('svg');
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('myriadpro-light.eot');
    src: url('myriadpro-light.eot') format('embedded-opentype'),
         url('myriadpro-light.woff2') format('woff2'),
         url('myriadpro-light.woff') format('woff'),
         url('myriadpro-light.ttf') format('truetype'),
         url('myriadpro-light.svg#MyriadProLight') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-regular.eot');
    src: url('myriadpro-regular.eot') format('embedded-opentype'),
         url('myriadpro-regular.woff2') format('woff2'),
         url('myriadpro-regular.woff') format('woff'),
         url('myriadpro-regular.ttf') format('truetype'),
         url('myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('myriadpro-semibold.eot');
    src: url('myriadpro-semibold.eot') format('embedded-opentype'),
         url('myriadpro-semibold.woff2') format('woff2'),
         url('myriadpro-semibold.woff') format('woff'),
         url('myriadpro-semibold.ttf') format('truetype'),
         url('myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}
@font-face {
    font-family: 'MyriadProSemiboldItalic';
    src: url('myriadpro-semiboldit.eot');
    src: url('myriadpro-semiboldit.eot') format('embedded-opentype'),
         url('myriadpro-semiboldit.woff2') format('woff2'),
         url('myriadpro-semiboldit.woff') format('woff'),
         url('myriadpro-semiboldit.ttf') format('truetype'),
         url('myriadpro-semiboldit.svg#MyriadProSemiboldItalic') format('svg');
}